.label {
    -fx-text-fill: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 80.0;
    -fx-font-weight: bold;
}

/*
TODO: Login buttons formatting is being overridden by the default one, fix it to something more aesthetic
 */
#loginButton {
    -fx-pref-width: 100;
    -fx-pref-height: 40;
    -fx-background-color: #4CAF50; /* green */
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
